<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
	 <% if(success == true){ %>
	 <h2>  Thank you!</h2>
	 <h1><%= title %></h1>
          <h2> Your message is received successfully.</h2>
		   
      <% } %>
	
   
  </body>
</html>
